body{
    margin: 0;
    padding: 0;
    display: block;
}
/* h3{
    font-family: 'Montserrat', sans-serif;
} */


.conn{
    display: flex;
    margin-top: 100px;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 200px;
    padding-right: 200px;
}

.conn1{
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 200px;
    padding-right: 200px;
}
h4{
    font-family: 'Poppins', sans-serif;
}
h5{
    font-family: 'Poppins', sans-serif;
}
.navbar-custom{
    background:rgba(177, 130, 255, 1);
    padding: 10px 50px;
}
.navbar-brand{
    font-size: 28px;
    font-family: 'Poppins',sans-serif;
}
.navbar-collapse{
    align-items: flex-end;
    font-family: 'Montserrat', sans-serif;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(rgba(177, 130, 255, 1),rgba(200, 166, 255, 0.7083),rgba(255, 255, 255, 0))
}
.hero-left{
    width: 50%;
    margin-left: 50px;
}
.hero-left h1{
    font-family: 'Poppins', sans-serif;
    width: 80%;
    margin: 20px 0px;
}
.hero-left p{
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    color: #808080;
    margin-bottom: 20px;
}
.hero-right{
    width: 50%;
    margin-right: 50px;
}
.hero-right img{
    width: 100%;
    height:auto
}
.btn{
    width: 40%;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
}
.stats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: 20px 0px;
}
.stats-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.stats h2{
    font-family:'Poppins', sans-serif;
}
.stats p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #808080;
    margin: 20px 0px;
    text-align: center;
}
.stats-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.material-icons{
    margin: 20px 0px;
    font-size: 48px;
    color: #0B5ED7;
}
.b-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0B5ED7;
}
.b-cards h3{
    margin: 0px 55px;
}
.precaution-card{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(177, 130, 255, 0.4);
    padding: 20px;
    height: 100vh;
}
.precaution-card img{
    width: 100%;
    height: auto;
}
.precaution-card .card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.card .material-icons{
    color:  rgba(177, 130, 255, 1);
}
.precaution{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}
.precaution h2{
    font-family:'Poppins', sans-serif;
}
.precaution p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #808080;
    text-align: center;
}
.precaution-footer{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 20px 20px;
}

.precaution-head{
    margin: 20px 0px;
}

.precaution-footer .material-icons{
    font-size: 28px;
    margin-right: 5px;
}

.precaution-footer img{
    width: 100%;
    height:auto
}

.symptoms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    background: rgba(177, 130, 255, 0.4);
    padding: 20px 0px;
}

.symptoms .card{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: #fff;
}
.symptoms h2{
    font-family: 'Poppins',sans-serif;
    margin: 20px 0px;
}
.symptoms img{
    width: 50%;
    height:auto
}
.symptoms p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #808080;
    text-align: center;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat',sans-serif;
}
.footer .material-icons{
    font-size: 28px;
    color: red;
    margin-left: 2px;
}

.shadows{
    box-shadow: 5px 5px #6927b467;
}

.menu-block{
    width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    color: black;
    text-decoration: none;
}

.menu-head{
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    
    text-decoration: none !important;
}

.menu-block:hover{
    color: #009c7a;
}

.menu{
    background-color: #ececec;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    justify-content:center;
    margin-top: 60px;
    padding: 20px;
}
