@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

h1 {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Sen", sans-serif;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Sen", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

.material-icons {
  margin: 20px 0px;
  font-size: 48px;
  color: #0b5ed7;
}

#hero {
  min-height: 100vh;
  background: linear-gradient(
    rgba(177, 130, 255, 1),
    rgba(200, 166, 255, 0.7083),
    rgba(255, 255, 255, 0)
  );
}

#hero .full-height {
  min-height: 100vh;
}

#stats {
  padding: 100px 0;
  text-align: center;
}

#precautions {
  padding: 100px 0;
  background-color: rgba(177, 130, 255, 1);
}

#protection {
  padding: 100px 0;
}

#protection ul {
  list-style-type: none;
}

#protection .right li:before {
  content: "check";
  font-family: "Material Icons";
  color: green;
  font-size: 2rem;
  display: inline-block;
  position: relative;
  top: 10px;
  margin-right: 10px;
}

#protection .wrong li:before {
  content: "clear";
  font-family: "Material Icons";
  color: red;
  font-size: 2rem;
  display: inline-block;
  position: relative;
  top: 10px;
  margin-right: 10px;
}

#symptoms {
  padding: 100px 0;
  background: rgba(177, 130, 255, 1);
}

#symptoms img {
  max-width: 200px;
}

#footer {
  padding: 10px 0;
}

#footer .material-icons {
  font-size: 0.875rem;
}

#menu {
  padding: 20px 0;
}

#menu img {
  max-width: 30px;
}

#menu a {
  text-decoration: none;
  color: #000;
}

#menu .active {
  color: #0b5ed7;
}

#cardmenu {
  padding: 100px 0;
  background: rgba(177, 130, 255, 1);
}

#datatable {
  padding: 100px 0;
  background: rgba(177, 130, 255, 1);
}
