.ResourcesHeader{
    margin-left: 25px;
    margin: 15px !important;
}

.Dashboard{
    background-color: white;
    padding: 15px 0;
}

.dashImg{
    width: 30px;
}

.DashHeading{
    font-size: 1rem;
}

.DataLoading{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}