.CurrentDataCont{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 25px 0;
}

.CurrentDataHeader{
    text-align: center;
}

.CurrentDataStat{
    display: flex;
    justify-content: center;
}

.CurrentDataMain{
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.CurrentDataMain > h5{
    text-align: center;
    font-weight: 600;
    color:#007bff;
}

@media(max-width : 720px){
    .CurrentDataMain > h4{
        text-align: center;
        font-size: 1.3rem;
    }

    .CurrentDataMain{
        margin: 0 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}