.LandingContainer{
  display: flex;
  padding:45px 25px;
  background: linear-gradient(180deg , #99b1f2 , white);
}

.LandingCont{
  flex:1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  
}

.precautions{
  background-color: #b182ff;
  padding: 100px;
}

.LandingCont > img{
  width: 70%;
}

.LandingCont > p , .LandingCont > h2 {
  width: 80%;
  text-align: center;
}

.symptoms{
  padding: 100px;
}

@media(max-width : 768px){
  .LandingContainer{
    display: flex;
    flex-direction: column;
  }
}